<app-acceuil-utilisateur></app-acceuil-utilisateur>
<ng-container  *ngFor="let a of articles"> 
    <div *ngIf="a.categorie==='accessoires'" class="d-flex justify-content-around">
        <div class="p-2 border">
            <ul class="list-group">
                <li class="list-group-item">
                    <h5> <img [src]='"assets/"+a.image+""'>
                        {{a.nom}} </h5>
                    <p>{{a.desc}}</p>
                    <p> <b>prix </b>{{a.prix}}</p>
                    <button  class='btn btn-info' style="float:right">Ajouter</button>
                </li>
            </ul>
        </div>
    </div>
</ng-container>