<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand" >
    <img src="../../assets/digital (2).png" width="50" height="50" class="d-inline-block align-top" alt="">
  </div>
  <span class="lego" [routerLink]="['/acceuil-utilisateur']">legotech</span>
  <form class="form-inline mr-auto">
    <div class="md-form my-0">
      <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      <i class="fa fa-search ml-3" aria-hidden="true"></i>
    </div>
  </form>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/panier']">
          <i class="fa fa-shopping-cart"></i>Panier</a>
      </li>
      <li class="nav-item dropdown">
        <div class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-display="static" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user"></i>
        </div>
        <div class="dropdown-content" aria-labelledby="navbarDropdown">
          <a  href="#">Profil</a>
          <a  [routerLink]="['/sign-utilisateur']">Connexion</a>

        </div>

      </li>
    </ul>
  </div>
</nav>
<app-nav></app-nav>

<!--<div class="topmenu text-xs-left hidden-sm-down">
  <div class="container">
    <div class="stimenu">
      <div class="row">
        <div class="container_wb_megamenu">
          <div class="wb-menu-vertical clearfix">
            <div class="menu-vertical">
              <ul class="menu-content top-menu">
                <li class="level-1 parent">
                  <div class="icon-drop-mobile">
                    <span>Ordinateurs</span>
                  </div>
                </li>
                <li class="level-1 parent">
                  <div class="icon-drop-mobile">
                    <span>Accessoires</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
<!--/.Navbar -->