<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<app-menu-admin></app-menu-admin>
<h2>Liste utilisateurs</h2>
<div class="container">
            <ng-container  *ngFor="let utilisateur of utilisateurs  let i=index"> 
            <ul class="list-group" >
                <li class="list-group-item" >
                    <div class="pic"><i class="fa fa-user-circle" style="font-size:170px;color: black;"></i></div>
                    <h5>{{utilisateur.nom}} {{utilisateur.prenom}}</h5>
                    <p><b>Numéro téléphone : </b>{{utilisateur.telephone}}</p>
                    <p><b>E-mail : </b>{{utilisateur.email}}</p>
                    <p><b>Adresse : </b> {{utilisateur.adresse}}, {{utilisateur.gouvernorat}}, {{utilisateur.ville}}, {{utilisateur.code_postal}}</p>
                    <p><b>Cin : </b>{{utilisateur.num_cin}}</p>
                    <p><b>Sexe : </b>{{utilisateur.sexe}}</p>      
                <button  class='btn btn-danger'(click)="onSuprimmer(utilisateur.id,i)" style="float:right">Supprimer</button>
            </li>
            </ul>
            </ng-container>
           
        </div>
        