<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!------ Include the above in your HEAD tag ---------->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="../../assets/digital (2).png" width="50" height="50" class="d-inline-block align-top" alt="">
    </a>
    <span class="lego">legotech</span>
    <form class="form-inline  ">
      <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search">

    </form>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="mr-auto"></div>
      <ul class="navbar-nav my-2 my-lg-0">
    <li class="nav-item">
        <a class="nav-link" href="#">Utilisateurs</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Membres</a>
      </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-display="static" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user-circle" style="font-size:24px;color: black;"></i>
        </a>
          <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Editer profile</a>
            <a class="dropdown-item" href="#">Se déconnecter</a>
          </div>

        </li>

      </ul>

      </div>
  </nav>

  <!------------------------------------------------------------------------------------------------->

<div class="tab-pane fade show active" id="resp" role="tabpanel" aria-labelledby="resp-tab">
    <h3 class="register-heading lego" style="text-align: center;margin: 30px;">Register un responsable</h3>
    <div class="row register-form">
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" class="form-control input-sm" placeholder="Nom *" value="" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Prénom *" value="" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Mot de passe *" value="" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control"  placeholder="Confirmer le mot de passe *" value="" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email *" value="" />
            </div>
            <div class="form-group">
                <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" placeholder="Numéro de téléphone *" value="" />
            </div>
            <div class="form-group">
                <select class="form-control">
                    <option class="hidden"  selected disabled>Selectionnez le type de responsable</option>
                    <option>Responsable legotech</option>
                    <option>Responsable pc occasion</option>
                </select>
            </div>
            <input type="submit" class="btn btn-primary"  value="Register"/>
        </div>
    </div>
</div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">