<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!------ Include the above in your HEAD tag ---------->



<app-menu-admin></app-menu-admin>
<div class="tab-pane fade show active" id="resp" role="tabpanel" aria-labelledby="resp-tab">
    <h3 class="register-heading lego" style="text-align: center;margin: 30px;">Ajouter un responsable</h3>
    <form class="row register-form" (ngSubmit)="onSaveResponsable(f)" #f="ngForm">
                        
        <div class="col-md-6">
           
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nom *" name="name" #nom="ngModel"  [(ngModel)]="name" required/>
            </div>
            <div [hidden]="!nom.errors?.required || nom?.pristine" class="alert alert-danger">
                le nom  est un champ obligatoire
            </div>
            <div class="form-group">
                    <input type="text" name="prenom" placeholder="prenom *" class="form-control" [(ngModel)]="prenom" required #pre="ngModel">
            </div>
            <div [hidden]="!pre.errors?.required || pre.pristine" class="alert alert-danger">
                La prenom est un champ obligatoire
            </div>

            <div class="form-group">
                <input type="password" class="form-control" placeholder="Mot de passe *"  pattern=".{8,}" name="mdp" #pass="ngModel" required [(ngModel)]="mdp" />
            </div>
            <div [hidden]="!pass.errors?.pattern || pass.touched" class="alert alert-warning">
                Tapez un mot de passe au moins 8 caractères
            </div>
            <div *ngIf="pass.errors?.pattern && pass.touched" class="alert alert-danger">
                Le mot de passe doit contenir au moins 8 caractères
            </div>
            <div [hidden]="!pass.errors?.required || pass.pristine" class="alert alert-danger">
                Le mot de passe  est un champ obligatoire
             </div>
            
           
            
        </div>
        <div class="col-md-6">
            
            <div class="form-group">
                <input type="email" class="form-control" placeholder="E-mail *" name="mail" #email="ngModel" required [(ngModel)]="mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"/>
            </div>
            <div *ngIf="email.errors?.pattern && email.touched" class="alert alert-danger">
                E-mail doit être sous forme "characters@characters.domain"
            </div>
            
            <div [hidden]="!email.errors?.required || email.pristine" class="alert alert-danger">
                E-mail est un champ obligatoire
             </div>
             
            <div class="form-group">
                <input type="text"  name="numTel" class="form-control" placeholder="Numéro de téléphone *" pattern="[0-9]{8}" class="form-control" [(ngModel)]="numTel" required #tel="ngModel">
            </div>
            
            <div *ngIf="tel.errors?.pattern && tel.touched" class="alert alert-danger">
                Le numéro de téléphone est composé de 8 chiffres
            </div>
            <div [hidden]="!tel.errors?.required || tel.pristine" class="alert alert-danger">
                Le numéro de téléphone est un champ obligatoire
             </div>

            <div class="form-group">
                <select class="form-control" [(ngModel)]="poste" [ngModelOptions]="{standalone: true}">
                    <option class="hidden"  selected disabled >poste </option>
                    <option value="responsable article">responsable article</option>
                    <option value="responsable service aprés vente">responsable service aprés vente</option>
                </select>
            </div>        
            <div class="form-group">
                <input type="submit" class="btnRegister"  value="S'inscrire" [disabled]="f.invalid" />
             </div>   
              
        </div>
        <div class="alert alert-danger " *ngIf="message"> {{message}} </div>
    </form>
</div>



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">