<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!------ Include the above in your HEAD tag ---------->


  <!------------------------------------------------------------------------------------------------->
<app-menu-admin></app-menu-admin>
<div class="tab-pane fade show active" id="resp" role="tabpanel" aria-labelledby="resp-tab">
    <h3 class="register-heading lego" style="text-align: center;margin: 30px;">Ajouter un responsable</h3>
    <div class="row register-form">
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" class="form-control input-sm" placeholder="Nom *" value=""/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Prénom *" value="" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Mot de passe *" value="" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control"  placeholder="Confirmer le mot de passe *" value="" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email *" value="" />
            </div>
            <div class="form-group">
                <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" placeholder="Numéro de téléphone *" value="" />
            </div>
            <div class="form-group">
                <select class="form-control">
                    <option class="hidden"  selected disabled>Selectionnez le type de responsable</option>
                    <option>Responsable legotech</option>
                    <option>Responsable pc occasion</option>
                </select>
            </div>
            <input type="submit" class="btn btn-primary"  value="Enregistrer"/>
        </div>
    </div>
</div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">