<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<app-menu-responsable-article></app-menu-responsable-article>
<h2>Liste Articles</h2>
<div class="container">
    <select  name="art" id="article" [(ngModel)]="art" [ngModelOptions]="{standalone: true}">
        
        <option *ngFor="let i of types" value="{{i}}">{{i}}</option>
       
    </select>
  
</div> 
<div class="container">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Image</th>
                <th>ID article</th>
                <th>Nom article</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Plus détaille</th>
                <th></th>
            </tr>
        </thead>
        
       
        <tr  *ngFor="let a of acc"> 
            <ng-container *ngIf="art==a.type">
                
                <td><img [src]='"assets/"+a.image+""'></td>
                <td> {{a.id}} </td>   
                <td>{{a.nom}}</td>
                <td>{{a.prix}} DT</td>
                <td>15</td>
                
                <td><a  class="btn-save btn btn-danger btn-sm" [routerLink]="[a.id]">Infos</a></td>
                <td (click)="onSupp(id)" ><i class="fa fa-trash" aria-hidden="true" style="font-size: 35px;"></i></td>  
            </ng-container>
        </tr>
    </table>
</div>