<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<app-menu-responsable-article></app-menu-responsable-article>
<h2>Liste Articles</h2>
<table class="container">
    <tr>
        <th>Image</th>
        <th>ID article</th>
        <th>Nom article</th>
        <th>Prix</th>
        <th>Quantité</th>
        <th>Plus détaille</th>
        <th></th>
    </tr>
    <tr  *ngFor="let a of articles"> 
    
        
            <td><img [src]='"assets/"+a.image+""'></td>
            <td> {{a.id}} </td>   
            <td>{{a.nom}}</td>
            <td>{{a.prix}} DT</td>
            <td>15</td>
            <td><button  class='btn btn-danger' >detaille</button></td>   
            <td><button  class='btn btn-danger' >supprimer</button></td>
    
</tr>
  
</table>
