<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container login-container">
            <div class="row">
                <div class="col-md-5 ">
                    <div class="login-logo">
                        <img src="assets/images/digital.png" alt=""/>
                        <div class="lego">legotech</div>
                    </div> 
                </div>
                <div class="col-md-6 login-form-1"> 
                    <h3>Connexion</h3>
                    <form #f="ngForm">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Nom d'utilisateur" name="nom" [(ngModel)]="nom" required #name="ngModel"/>
                            
                        </div>
                        <div [hidden]="!name.errors?.required || name.pristine" class="alert alert-danger">
                            le nom d'utilisateur est un champ obligatoire
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Mot de passe" name="mdp" [(ngModel)]="mdp" required #mot="ngModel"/>
                            
                        </div>
                        <div [hidden]="!mot.errors?.required || mot.pristine" class="alert alert-danger">
                            le mot de passe est un champ obligatoire
                        </div>
                        <div class="btnContainer form-group ">
                            <input type="submit" class="btnSubmit" value="Connexion" />
                        </div>
                        <div class="ForgetPwd form-group">
                            <a href="#" >Mot de passe oublié ?</a>
                        </div>
                    </form>
            </div>
        </div>