.login-container{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 17%;
}

.alert-warning,.alert-danger{
  border-radius: 25px;
  text-align: center;
  font-size: 15px;
}

.login-form-1{
  padding: 9%;
  background:#0062cc;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
}
.login-form-1 h3{
  text-align: center;
  margin-bottom:12%;
  color: #fff;
  font-family: cursive
}


.login-form-1 .btnSubmit{
  font-weight: 600;
  width: 70%;
  text-align: center;
  border: none;
  padding:2%;
  border-radius: 25px;
  color: #0062cc;
  background-color: #fff;
  font-family: cursive;
  
}

.login-form-1 .btnSubmit:hover{
  
  background-color: rgb(91, 119, 128);
  color:#fff;
 
}
.btnContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
a{
  text-align: center; 
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
.login-form-1 .ForgetPwd{
  
  text-align: center;
  font-family: cursive
}

a:hover{
  color:rgb(7, 222, 250);
  font-weight: 600;
  text-decoration: none;
}
input{
  border-radius: 25px;
  font-family: cursive;
}

/*-------------------------------------------------------------*/
.lego{
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  background: linear-gradient(to right, #00c6ff 0%, #a22fb9 65%, #510461 100%);
  -webkit-background-clip: text;
  background-clip: text;
-webkit-text-fill-color: transparent;

    margin-bottom: 5%;
}
.login-logo{
  text-align: center;
  color: #fff;
  margin-top: 4%;
}


.login-logo img{
  margin-top: 17%;
  
  width: 200px;
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}