
img{
    height: 50px;
    width: 50px;
}
input,select{
    width: 700px;
}



.container{
    height: auto;
    align-content: center;
    }

.card{
    height: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 750px;
    background-color: whitesmoke ;
    }
    
.card-header h3{
    
    
    background: linear-gradient(to right, #00c6ff 0%, #a22fb9 65%, #510461 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    }
